DATABASE_URL="postgresql://USER:PASSWORD@localhost:5432/nextplay"
IGDB_CLIENT_ID=""
IGDB_CLIENT_SECRET=""
STEAM_API_KEY=""
FIREBASE_PROJECT_ID=""
FIREBASE_CLIENT_EMAIL=""
FIREBASE_PRIVATE_KEY=""
IGDB_SYNC_QUERY="fields name,slug,summary,cover.url,artworks.url,screenshots.url,videos.video_id,external_games.uid,external_games.external_game_source.name,genres.name,platforms.name,first_release_date,involved_companies.company.name,involved_companies.developer,involved_companies.publisher,rating,total_rating; where version_parent = null; limit 50;"
